# Ignore everything at repository root
/*

# But keep ContainerShield
!/containershield/
!/containershield/**

.gitignore

# Ignore ContainerShield's own Git/IDE/build files
/containershield/.gitattributes
/containershield/.gitignore
/containershield/.env
/containershield/.idea/
/containershield/target/
